* {
    box-sizing: border-box;
}

html, body, .overflowWrap {
    overflow-x: hidden;
    }

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    transition: 1s;
    color: #d12626;
    cursor: pointer;
    font-size: 28px;
}

#logo {
    display: flex;
    flex-wrap: wrap;
}

#slider img {
    display: block;
    max-width: 100%;
}

.name {
    padding-left: 55px;
    width: 500px;
    font-size: 24px;
    font-weight: bold;
    color: #d12626;
}

.moto {
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    position: absolute;
    top:295px;
    left:150px;
    right:150px;
}

.moto-2 {
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    top:500px;

}


.moto-2 p:first-child{
    padding-left: 50px;
    padding-right:500px;
}

.moto-2 p:last-child{
    padding-left:500px;
}


.container {
    max-width: 1300px;
    margin: auto;
}

li {
    list-style: none;
    padding: 0 30px;
    font-size: 21px;
    font-weight: bold;
    padding: 10px 30px;
}

.menu li:last-child {
    border-right: none;
}

.menu li {
    border-right: black solid 2px;
}



#price {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header-top {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

#navigation, #logo{
    margin:auto;
}

#header-top, #navigation ul {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
}

.price-category:hover {
    transition: 1s;
    padding: 10px;
    border: 2px solid #d12626;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.price-category img {
   padding:0 30%;
}

h1 {
    padding: 10px;
    font-size: 48px;
    text-align: center;
}

.price-category p {
    font-size: 32px;
    text-align: center;
}

.price-category span {
    color: #d12626;
    font-weight: bold;
}

.info {
    color:#d12626;
    text-align: center;
    font-size:36px;
    padding:100px;
}

#teach p {
    font-size: 36px;
    font-weight: bold;
    margin:5px;
}

#teach li {
    font-size: 36px;
    font-weight: normal;
    list-style-type: none;
    margin:0;
}

.info_bold {
    color:#d12626;
    text-align: center;
    font-size:40px;
    padding:100px;
    font-weight: bold;
}

.study_info_th, .study_info_pr {
    padding: 25px 40px;
    font-size: 24px;
    width:885px;
    border: 3px solid #dee9f9;
}

.study_info_th{
    margin-bottom: 70px;
}

.study_info_th p, .study_info_pr p{
    margin:0;
}



.study_info_th:hover, .study_info_pr:hover{
    transition: 1s;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#info_bold_2 {
    text-align: center;
    font-size:36px;
    padding-top:100px;
    font-weight: bold;
}

#photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#photo img{
    width:425px;
    height:300px;
}

.plus {
    max-width:600px;
    height:400px;
    width:100%;
    text-align: justify;
    border: 3px solid #dee9f9;
    padding:30px;
    margin-top:30px;
    margin-bottom: 30px;
}

.plus:hover {
    transition:1s;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#pros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.plus p {
    font-size: 20px;
}


.plus h1 {
    font-size: 24px;
    font-weight: bold;
}

.plus:last-child {
    margin: auto;
}

footer {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top:100px;
    background: black;
}

footer p {
    color: white;
    font-size:24px;
    font-weight: normal;
}

.theory_program, .practice_program {
    margin-left: 60px;
}

.study_info_th li, .study_info_pr li {
    list-style-type: disc;
    padding: 3px;
}

.flex-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.place {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 30px;
}


@media (min-width:1600px) and (max-width: 1800px) {
    .moto{
        font-size: 42px;
    }

    .moto-2 p:first-child{
        
        padding-left: 50px;
        padding-right:410px;
    }
    
    .moto-2 p:last-child{
        padding-left:410px;
    }
}

@media (min-width:1400px) and (max-width: 1600px) {
    .moto{
        font-size: 36px;
    }

    .moto-2 {
        top:450px;
    }

    .moto-2 p:first-child{
        padding-left: 60px;
        padding-right:370px;
        font-size: 28px;
    }
    
    .moto-2 p:last-child{
        padding-left:370px;
        font-size: 28px;
    }
}

@media (min-width:1200px) and (max-width: 1400px) {
    a:hover {
        transition: 1s;
        color: #d12626;
        cursor: pointer;
        font-size: 20px;
    }

    .container {
        padding: 0 40px;
    }
    .moto{
        font-size: 28px;
        top:200px;
    }

    .moto-2 {
        top:430px;
    }

    .h1 {
        font-size: 42px;
    }

    #info_bold_2 {
        font-size: 28px;
    }

    .info_bold {
        font-size: 32px;
    }

    #teach p{
        font-size: 32px;
    }

    #teach li{
        font-size: 30px;
    }

    .moto-2 {
        top:325px;
        display:flex;
        flex-direction: column;
        margin-left: 38%;
    }

    #photo img {
        width: 385px;
        height: 270px;
    }

    .moto-2 p:first-child{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 24px;
    }
    
    .moto-2 p:last-child{
        padding-left:0px;
        font-size: 24px;
    }

    #navigation li {
        font-size:16px;
    }

    #logo p {
        font-size: 18px;
        width:400px;
    }
}

@media (min-width:1000px) and (max-width: 1200px) {
    a:hover {
        transition: 1s;
        color: #d12626;
        cursor: pointer;
        font-size: 15px;
    }

    .container {
        margin:0 40px;
    }
    .moto{
        font-size: 24px;
        top:200px;
    }

    .moto-2 {
        top:280px;
        display:flex;
        flex-direction: column;
        margin-left: 39%;
    }

    .moto-2 p:first-child{
        padding-left: 0px;
        padding-right:0px;
        font-size: 20px;
    }
    
    .moto-2 p:last-child{
        padding-left:0px;
        font-size: 20px;
    }

    h1 {
        font-size: 32px;
    }

    #info_bold_2 {
        font-size: 28px;
        padding:30px;
    }

    .info_bold {
        font-size: 28px;
        padding:30px;
    }

    #teach p{
        font-size: 28px;
    }

    #teach li{
        font-size: 26px;
    }

    .info {
        font-size: 28px;
        padding:30px;
    }

    .study_info_th, .study_info_pr {
        padding: 20px 35px;
        width: 725px;
    }

    #photo img {
        width: 300px;
        height: 210px;
    }

    .plus h1 {
        font-size: 18px;
    }

    .plus p {
        font-size: 16px;
    }

    .plus {
        max-width: 447px;
        height: 400px;
        margin-top: 18px;

    }

    #navigation li {
        font-size:12px;
        padding: 0 15px;
    }

    #logo p {
        padding-left: 15px;
        font-size: 15px;
        width: 280px;
    }

    #logo img {
        width: 90px;
        height: 90px;
    }

    .price-category p {
        font-size: 26px;
    }

    h1 {
        font-size: 36px;
    }

    .price-category img {
        padding: 0px 33%;
        height: 125px;
        width: 385px;
    }
}

@media (min-width:800px) and (max-width: 999px) {
    a:hover {
        transition: 1s;
        color: #d12626;
        cursor: pointer;
        font-size: 15px;
    }

    .container {
        margin:0 40px;
    }
    .moto{
        font-size: 16px;
        top:180px;
    }



    .moto-2 {
        top:240px;
        display:flex;
        flex-direction: column;
        margin-left: 38%;
    }

    .moto-2 p:first-child{
        padding-left: 0px;
        padding-right:0px;
        font-size: 16px;
    }
    
    .moto-2 p:last-child{
        padding-left:0px;
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    #info_bold_2 {
        font-size: 22px;
        padding:30px;
    }

    .info_bold {
        font-size: 22px;
        padding:30px;
    }

    #teach p{
        font-size: 22px;
    }

    #teach li{
        font-size: 20px;
    }

    .info {
        font-size: 22px;
        padding:30px;
    }

    .study_info_th, .study_info_pr {
        padding: 15px 30px;
        width: 600px;
    }

    #photo img {
        width: 230px;
        height: 170px;
    }



    .plus h1 {
        font-size: 18px;
    }

    .plus p {
        font-size: 16px;
    }

    .plus {
        margin:auto;
        max-width: 447px;
        height: 400px;
        margin-top: 18px;

    }

    .plus:last-child {
        margin-top: 20px;
    }

    #navigation {
        padding: 0;
    }

    #navigation li {
        font-size:11px;
        padding: 0 5px;
    }

    #logo p {
        padding-left: 10px;
        font-size: 12px;
        width: 235px;
    }

    #logo img {
        width: 75px;
        height: 75px;
    }

    .price-category p {
        font-size: 18px;
    }

    h1 {
        font-size: 26px;
    }

    .price-category img {
        padding: 0px 33%;
        height: 95px;
        width: 300px;
    }

    footer p {
        font-size: 20px;
    }

    .place {
        font-size: 20px;
    }
}

@media (min-width:600px) and (max-width: 799px) {
    a:hover {
        transition: 1s;
        color: #d12626;
        cursor: pointer;
        font-size: 11px;
    }

    .container {
        margin:0 40px;
    }
    .moto{
        font-size: 14px;
        top:140px;
    }


    .moto-2 {
        top:215px;
        display:flex;
        flex-direction: column;
        margin-left: 38%;
    }

    .moto-2 p:first-child{
        padding-left: 0px;
        padding-right:0px;
        font-size: 12px;
    }
    
    .moto-2 p:last-child{
        padding-left:0px;
        font-size: 12px;
    }


    #info_bold_2 {
        font-size: 16px;
        padding:30px;
    }

    .info_bold {
        font-size: 16px;
        padding:30px;
    }

    #teach p{
        font-size: 22px;
    }

    #teach li{
        font-size: 20px;
    }

    .info {
        font-size: 13px;
        padding:30px;
    }

    .study_info_th, .study_info_pr {
        padding: 12px 22px;
        width: 450px;
        font-size: 14px;
    }

    #photo img {
        width: 230px;
        height: 170px;
    }



    .plus h1 {
        font-size: 16px;
    }

    .plus p {
        font-size: 14px;
    }

    .plus {
        margin:auto;
        max-width: 447px;
        height: 400px;
        margin-top: 18px;

    }

    .plus:last-child {
        margin-top: 20px;
    }

    #navigation {
        padding: 0;
    }

    #navigation li {
        font-size:7px;
        padding: 0 5px;
    }

    #logo p {
        padding-left: 9px;
        font-size: 9px;
        width: 168px;
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    .price-category p {
        font-size: 13px;
    }

    h1 {
        font-size: 22px;
    }

    .price-category img {
        padding: 0px 33%;
        height: 75px;
        width: 235px;
    }

    #photo img:last-child {
        width: 425px;
        height: 300px;
        width: 230px;
        height: 200px;
        padding-top: 30px;
        margin: auto;
    }

    .study_info_th {
        margin-bottom: 30px;
    }

    footer p {
        font-size: 20px;
    }

    iframe {
        width: 550px;
        height:275px;
    }

    .place {
        font-size: 18px;
    }
}

@media (min-width:400px) and (max-width: 599px) {
    a:hover {
        transition: 1s;
        color: #d12626;
        cursor: pointer;
        font-size: 11px;
    }
    .container {
        margin:0 20px;
    }
    .moto{
        font-size: 9px;
        top: 176px;
        left: 70px;
        right: 70px;
    }

    .moto-2 {
        top:210px;
        display:flex;
        flex-direction: column;
        margin-left: 38%;
    }

    .moto-2 p:first-child{
        padding-left: 0px;
        padding-right:0px;
        font-size: 9px;
    }
    
    .moto-2 p:last-child{
        padding-left:0px;
        font-size: 9px;
    }


    #info_bold_2 {
        font-size: 14px;
        padding:30px;
    }

    .info_bold {
        font-size: 14px;
        padding:30px;
    }

    #teach p{
        font-size: 14px;
    }

    #teach li{
        font-size: 12px;
    }

    .info {
        font-size: 14px;
        padding:30px;
    }

    .study_info_th, .study_info_pr {
        padding: 12px 22px;
        width: 360px;
        font-size: 14px;
    }

    #photo img {
        width: 230px;
        height: 200px;
        padding-top: 30px;
        margin: auto;

    }



    .plus h1 {
        font-size: 16px;
    }

    .plus p {
        font-size: 14px;
    }

    .plus {
        margin:auto;
        max-width: 447px;
        height: 400px;
        margin-top: 18px;

    }

    .plus:last-child {
        margin-top: 20px;
    }

    #navigation {
        padding: 0;
        margin:auto;
    }

    #navigation li {
        font-size:7px;
        padding: 0 5px;
    }

    #logo p {
        padding-left: 9px;
        font-size: 9px;
        width: 168px;
    }

    #logo {
        margin:auto;
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    .price-category {
        margin:auto;
    }

    .price-category p {
        font-size: 13px;
    }

    h1 {
        font-size: 18px;
    }

    .price-category img {
        padding: 0px 33%;
        height: 77px;
        width: 235px;
    }

    #photo img:last-child {
        width: 425px;
        height: 300px;
        width: 230px;
        height: 200px;
        padding-top: 30px;
        margin: auto;
    }

    .study_info_th {
        margin-bottom: 30px;
    }

    #theory_program li {
        font-size: 14px;
        font-weight: bold;
    }

    #practice_program li {
        font-size: 14px;
        font-weight: bold;
    }

    footer p {
        font-size: 14px;
    }

    iframe {
        width: 350px;
        height: 250px;
    }

    .place {
        font-size: 15px;
    }
}

@media (min-width:320px) and (max-width: 399px) {
    a:hover {
        transition: 1s;
        color: #d12626;
        cursor: pointer;
        font-size: 11px;
    }
    .container {
        margin:0 10px;
    }
    .moto{
        font-size: 9px;
        top: 176px;
        left: 70px;
        right: 70px;
    }

    .moto-2 {
        top:215px;
        display:flex;
        flex-direction: column;
        margin-left: 36%;
    }

    .moto-2 p:first-child{
        padding-left: 0px;
        padding-right:0px;
        font-size: 9px;
    }
    
    .moto-2 p:last-child{
        padding-left:0px;
        font-size: 9px;
    }


    #info_bold_2 {
        font-size: 14px;
        padding:30px;
    }

    .info_bold {
        font-size: 14px;
        padding:30px;
    }

    #teach p{
        font-size: 14px;
    }

    #teach li{
        font-size: 12px;
    }

    .info {
        font-size: 14px;
        padding:30px;
    }

    .study_info_th, .study_info_pr {
        padding: 12px 22px;
        width: 300px;
        font-size: 14px;
    }

    #photo img {
        width: 230px;
        height: 200px;
        padding-top: 30px;
        margin: auto;

    }

    #theory_program li {
        font-size: 12px;
        font-weight: bold;
    }

    #practice_program li {
        font-size: 12px;
        font-weight: bold;
    }


    .plus h1 {
        font-size: 16px;
    }

    .plus p {
        font-size: 14px;
    }

    .plus {
        margin:auto;
        max-width: 447px;
        height: 400px;
        margin-top: 18px;

    }

    .plus:last-child {
        margin-top: 20px;
    }

    #navigation {
        padding: 0;
        margin:auto;
    }

    #navigation li {
        font-size:7px;
        padding: 0 5px;
    }

    #logo p {
        padding-left: 9px;
        font-size: 9px;
        width: 168px;
    }

    #logo {
        margin:auto;
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    .price-category {
        margin:auto;
    }

    .price-category p {
        font-size: 13px;
    }

    h1 {
        font-size: 18px;
    }

    .price-category img {
        padding: 0px 33%;
        height: 77px;
        width: 235px;
    }

    #photo img:last-child {
        width: 425px;
        height: 300px;
        width: 230px;
        height: 200px;
        padding-top: 30px;
        margin: auto;
    }

    .study_info_th {
        margin-bottom: 30px;
    }

    footer p {
        font-size: 12px;
    }
    
    iframe {
        width: 310px;
        height: 200px;
    }

    .place {
        font-size: 13px;
    }
}